altair
argon2-cffi
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
cachetools
certifi
charset-normalizer
click
colorama
cryptography
cycler
defusedxml
entrypoints
fastjsonschema
fonttools
gitdb
GitPython
httpcore
httpx
idna
Jinja2
jsonschema
kiwisolver
lxml
Markdown
matplotlib
numpy
pandas
Pillow
plotly
pyarrow
pyOpenSSL
pyparsing
requests
scipy
seaborn
six
streamlit
tenacity
tornado
typing_extensions
urllib3
watchdog
setuptools>=68.0.0
